{% extends "base.html" %}

{% block content %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th style="width:10%">ID</th>
				<th style="width:60%">Title</th>
				<th style="width:10%; text-align: center;">Difficulty</th>
				<th style="width:10%; text-align: center;">Edit</th>
				<th style="width:10%; text-align: center;">Delete</th>
			</tr>
		</thead>
		<tbody>
			{% for q in q_list %}
			<tr>
				<td style="width:10%">{{ q.id }}</td>
				<td style="width:60%">{{ q.title }}</td>
				<td style="width:10%; text-align: center;">{{ q.difficulty }}</td>
				<td style="width:10%; text-align: center;">
					<a href="/question/{{ q.id }}">
						<button type="button" class="btn btn-info">View</button>
					</a>
				</td>
				<td style="width:10%; text-align: center;">
					<a href="/question/delete/{{ q.id }}">
						<button type="button" class="btn btn-danger" type="submit">Delete</button>
					</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}